server {
    listen {{ nginx_listen_port }};
    server_name {{ nginx_server_name }};

    root {{ nginx_root }};
    index {{ nginx_index_files }};

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # Xử lý các file PHP thông qua PHP-FPM
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.1-fpm.sock;  # Chỉnh sửa nếu PHP-FPM của bạn dùng socket khác
    }

    error_log {{ nginx_error_log }};
    access_log {{ nginx_access_log }};
}
